img {
    width: 275px;
    height: 275px;
    margin: 10px;
    object-fit: cover;
}

.board {
    width: 295px;
    height: 475px;
    padding: 15px;
    margin: 10px;
    background-color: #fff;
    border: 2px solid #000;
}

.board:hover {
    transform: translate(2px, 2px);
    border: 2px dashed black;
    cursor: pointer;
}