body {
    margin: 0;
}

.arting {
    font-size: 50px;
}

.artingmessage {
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    color: #000;
    margin-top: 150px;
}

.mainpage {
    height: 100vh;
    background-color: rgb(238, 149, 149); 
}