body {
    margin: 0;
}

.porfoliopage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px 1fr;
    height: 100vh;
}

.navbar {
    grid-column: span 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 35%;
}

nav a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 800;
    color: #000;
    outline: none;
    text-decoration: none;
}