.works {
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    margin-left: 75px;
}

.portfoliopage {
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgb(143, 183, 235);
}

.all-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1em;
    padding: 1em;
}