.board-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
}

.boards {
    display: grid;
    justify-content: center;
    align-items: center;
}

.board-title, p {
    font-family: 'DM Sans', sans-serif;
}

.none {
    font-family: 'DM Sans', sans-serif;
    font-size: 32px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.update-delete-button {
   border: none;
   outline: none;
   margin: 5px;
   padding: 10px;
   cursor: pointer;
   background-color: #000; 
   color: #fff;
   font-family: 'DM Sans', sans-serif;
   font-size: 14px;
   font-weight: 800;
}


/* Create Form */
.create {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3em;
}

.create form {
    font-family: 'DM Sans', sans-serif;
    font-style: italic;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 325px;
    height: 475px;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #000;
    box-shadow: 12px 12px 2px 1px rgb(255, 185, 185);
}

.create-form input {
    border: 2px solid #000;
    outline: none;
    margin: 15px;
    padding: 20px;
    width: 70%;
    font-size: 20px;
}

.create-button {
    border: none;
    outline: none;
    margin: 20px;
    padding: 10px;
    width: 50%;
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-weight: 800;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
/* Create Form */


/* Update Form */
.update {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3em;
}

.update form {
    font-family: 'DM Sans', sans-serif;
    font-style: italic;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 325px;
    height: 475px;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #000;
    box-shadow: 12px 12px 2px 1px rgb(156, 196, 255);
}

.update-form input {
    border: 2px solid #000;
    outline: none;
    margin: 15px;
    padding: 20px;
    width: 70%;
    font-size: 20px;
}

.update-button {
    border: none;
    outline: none;
    margin: 20px;
    padding: 10px;
    width: 50%;
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-weight: 800;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
/* Update Form */