.signin-page {
    height: 100vh;
    background-color: rgb(211, 203, 255); 
}

.signup-page {
    height: 100vh;
    background-color: rgb(255, 237, 177); 
}

.signin, 
.signup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 4em;
}

.signup form {
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 325px;
    height: 475px;
    margin-left: 13em;
    background-color: #fff;
    border: 2px solid #000;
    box-shadow: 12px 12px 2px 1px rgb(211, 203, 255);
}

.signin form {
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 325px;
    height: 475px;
    margin-left: 13em;
    background-color: #fff;
    border: 2px solid #000;
    box-shadow: 12px 12px 2px 1px rgb(255, 237, 177);
}

.form input {
    border: 2px solid #000;
    outline: none;
    margin: 15px;
    padding: 20px;
    width: 70%;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
}

.signin-button, 
.signup-button {
    border: none;
    outline: none;
    margin: 20px;
    padding: 10px;
    width: 50%;
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-weight: 800;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.signingin,
.createacc {
    font-style: italic;
    color: #000;
    font-size: 30px;
}

.welcomeback,
.signupmessage {
    font-size: 32px;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    color: #000;
}