.navbar .title {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: papayawhip;
    height: 100%;
    width: 100px; */
}

.signin-page, .signup-page {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 70px 2fr;
    height: 100vh;
}

.navbar {
    grid-column: span 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 35%;
}

nav a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 800;
    color: #000;
    outline: none;
    text-decoration: none;
}

.signup, .signin {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.signup form {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 70%;
    background-color: lightcoral;
    box-shadow: 12px 12px 2px 1px lightblue;
}

.signin form {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 70%;
    background-color: rgb(245, 233, 178);
    box-shadow: 12px 12px 2px 1px lavender;
}

form input {
    border: none;
    outline: none;
    margin: 10px;
    padding: 20px;
    width: 50%;
    font-size: 18px;
}

button {
    border: none;
    outline: none;
    margin: 20px;
    padding: 10px;
    width: 50%;
    font-size: 18px;
    font-weight: 800;
    background-color: #fff;
}

.signin-left {
    background: linear-gradient(90deg, #cd76ff, #4cd0ff);
    background-size: 200% 200%;
    -webkit-animation: gradient-animation 30s ease infinite;
    -moz-animation: gradient-animation 30s ease infinite;
    -o-animation: gradient-animation 30s ease infinite;
    animation: gradient-animation 30s ease infinite;
}

.signup-left {
    background: linear-gradient(90deg, #b1f0c9, #a8c4f0);
    background-size: 200% 200%;
    -webkit-animation: gradient-animation 30s ease infinite;
    -moz-animation: gradient-animation 30s ease infinite;
    -o-animation: gradient-animation 30s ease infinite;
    animation: gradient-animation 30s ease infinite;
}

@-webkit-keyframes gradient-animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes gradient-animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes gradient-animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes gradient-animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.signingin {
    color: #000;
    font-size: 40px;
}

.createacc {
    color: #fff;
    font-size: 40px;
}

.welcomeback {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #fff;
    margin-top: 9em;
}

.artingmessage {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #fff;
    margin-top: 12em;
}